<%- include("partials/header"); -%>
<div class="jumbotron">
        <h1>Welcome to UCC website,This website helps you store the details of ucc members.</h1>
        <h2>Click on button below to add members👇</h2>
        <a href="/addmember"><button type="button" class='btn btn-lg btn-primary homeBtn' name="button">Add Members</button></a>
</div>

  </body>
</html>
